.menu {
  background-color: #22333b;
  overflow: hidden;
}

.menu a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu a:hover {
  background-color: #ddd;
  color: black;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}